<div class="wrapper">
  <mat-sidenav-container>

    <mat-sidenav #sideNav
                 mode="side"
                 fixedInViewport="true"
                 [opened]="!mobileQuery.matches"
                 (opened)="navOpen = true"
                 (closed)="navOpen = false">
        <nav>
          <ul>
            <li><a href="sidenav"><mat-icon>home</mat-icon> Home</a></li>
            <li><a class="submenu-trigger"
                   (click)="toggleActive('departments')"
                   [class.active]="activeParent === 'departments' && active ? true : false"><mat-icon>domain</mat-icon> Departments <mat-icon class="arrow">chevron_right</mat-icon></a>
              <ul class="submenu">
                <li><a>Academic Programs</a></li>
                <li><a>Clinical Affairs</a></li>
                <li><a>Budget and Finance</a></li>
                <li><a>Facilities</a></li>
                <li><a>Human Resources</a></li>
                <li><a>Information Technology</a></li>
                <li><a>Marketing</a></li>
                <li><a>Faculty Affairs</a></li>
                <li><a>Student Affairs</a></li>
              </ul>
            </li>
            <li><a routerLink="forms" (click)="active = false"><mat-icon>folder</mat-icon> Forms</a></li>
            <li><a><mat-icon>contacts</mat-icon> Directory</a></li>
            <li><a><mat-icon>school</mat-icon> Dean's Office</a></li>
            <li><a class="submenu-trigger" (click)="toggleActive('committees')" [class.active]="activeParent === 'committees' && active ? true : false"><mat-icon>people</mat-icon> Standing Committees <mat-icon class="arrow">chevron_right</mat-icon></a>
              <ul class="submenu">
                <li><a>Apt Committee</a></li>
                <li><a>Graduate Curriculum and Evaluation</a></li>
                <li><a>PhD Advisory Committee</a></li>
                <li><a>Research Committee</a></li>
                <li><a>Staff Governance Council</a></li>
                <li><a>Undergraduate Curriculum and Evaluation Committee</a></li>
              </ul>
            </li>
            <li><a><mat-icon>contact_support</mat-icon> FAQs</a></li>
          </ul>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content>

      <mat-toolbar>
        <button mat-icon-button
                (click)="sideNav.toggle()"
                disableRipple="true">
          <mat-icon>{{ navOpen ? 'close' : 'menu' }}</mat-icon>
        </button>
        <img src="assets/images/con-logo.png" alt="CON Logo">
      </mat-toolbar>

      <div id="routerOutlet">
        <router-outlet></router-outlet>
      </div>

      <app-footer></app-footer>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

