<header>
  <h1>MyCON</h1>
  <h2>CU College of Nursing Intranet</h2>
</header>

<main>

  <app-quick-links></app-quick-links>

  <section>
    <h2>Faculty Meetings</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLNLkPVMSCYz3yyo7Twdj2spxnDX05OBM7" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </section>

  <app-top-documents></app-top-documents>

  <section>
    <h2>Announcements</h2>
    <div class="announcements"></div>
  </section>

  <section class="social-feeds">
    <h2>Social Channels</h2>

    <div>
      <div class="image-wrapper">
        <img alt="Twitter Feed" src="assets/images/twitter-feed.png">
      </div>

      <div class="image-wrapper">
        <img alt="Facebook Feed" src="assets/images/fb-feed.png">
      </div>
    </div>

  </section>

</main>
